@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>The Burger shop app is made by Eleonora Gjorjgieva it`s a protopype for clients from Skopje</p>
<p>Functionality of app is crud operatiion burger menu with function to delete,see details,create and edit the menu and the orders</p>
<p>The burger shop it is a beautifull place to eat with nice personal and pleasent enterior</p>
